instance/
hoffest_planung/docker-compose.yml
/hoffest_planung/__pycache__
hoffest_planung/credentials.txt
/hoffest_planung/logs
hoffest_planung/secretAuthCode.txt
hoffest_planung/flaskSecretKey.txt
hoffest_planung/static/loader/shared.js
