<header class="sticky">
  <nav>
    <ul>
      <li>
        <img alt="logo" height="40" id="logo" src="./static/images/logo2.png" />
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn {% if request.path=='/' %} current{% endif %}" onclick="window.location.href=`/`">
            Startseite
          </button>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn {% if request.path=='/spieler' %} current{% endif %}" onclick="window.location.href=`/spieler`">
            Spieler
          </button>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn {% if request.path=='/add_pref' or request.path=='/join_pref' %} current{% endif %}">▼ Prefixes</button>
          <div class="dropdown-content">
            <a href="/add_pref">Erstellen/Ändern</a>
            <a href="/join_pref">Beitreten</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn {% if request.path=='/report' %} current{% endif %}" onclick="window.location.href='/report'">
            Spieler Report
          </button>
        </div>
      </li>
      {% if perm <= 1 %}
      <li>
        <div class="dropdown">
          <button class="dropbtn {% if request.path=='/users' %} current{% endif %}" onclick="window.location.href='/users'">
            Verwaltung
          </button>
        </div>
      </li>
      {% endif %}
      <!-- Code for flask application -->
      <li>{{ loginVar | safe}}</li>
      <li></li>
    </ul>
  </nav>
</header>
