<!DOCTYPE html>
<html>
<head>
    <title>Enter username</title>
</head>
<body>
    <h1>Enter your Minecraft player name:</h1>
    <form method="post">
        <input type="hidden" name="type" value="login1">
        <input type="text" name="username" required>
        <input type="submit" value="Submit">
    </form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</body>
</html>
