<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="./static/css/header.css" rel="stylesheet"/>
    <link href="./static/css/index.css" rel="stylesheet"/>

    <link href="./static/images/favicon.ico" rel="icon" type="image/vnd.microsoft.icon"/>
    <title>Spieler melden</title>
</head>
<body>
    {% include 'header.html' %}

<div class="content">
    <!-- content here!! -->
    <div class="text" style="height: 20cm">
        CONTENT
        <br/>
        <br/>
        CONTENT
        <br/>
        <img alt="Under Construction!" src="https://www.iirenanstalt.de/underconstruction.jpg">
        <br/>
        CONTENT
        <br/>
        <br/>
        CONTENT
        <br/>
        <img alt="Under Construction!" src="https://www.iirenanstalt.de/underconstruction.jpg">
        <br>
    </div>

</div>
<footer>
    <nav>
        <ul>
            <li><a href="/verschiedenes/impressum.html">Impressum</a></li>
            <li><a href="/verschiedenes/datenschutz.html">Datenschutz</a></li>
            <li><a href="/verschiedenes/kontakt.html">Kontakt</a></li>
            <li><a href="#">🡅</a></li>
        </ul>
    </nav>
</footer>
</body>

</html>