<!DOCTYPE html>
<html lang="en" id="top">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spieler Übersicht</title>

  <link rel="stylesheet" href="./static/css/header.css" />
  <link rel="stylesheet" href="./static/css/index.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icon-css@3.5.0/css/flag-icon.min.css" />
  <link rel="stylesheet" href="./static/css/player_list.css" />

  <link rel="icon" type="image/vnd.microsoft.icon" href="./static/images/favicon.ico" />
</head>

<body>
  <header class="sticky">
    <nav>
      <ul>
        <li>
          <img id="logo" src="./static/images/logo2.png" alt="logo" height="40" />
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn" onclick="window.location.href=`/`">
              Startseite
            </button>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn current">Spieler</button>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">▼ Prefixes</button>
            <div class="dropdown-content">
              <a href="#">Erstellen</a>
              <a href="#">Ändern</a>
              <a href="#">Beitreten</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn" onclick="window.location.href='/report'">
              Spieler Report
            </button>
          </div>
        </li>
        <!-- Code for flask application -->
        <li>{{ loginVar | safe}}</li>

        <li></li>
      </ul>
    </nav>
  </header>

  <div class="content">
    {% for result in results %}
        <tr>
            <td></td>
            <td>{{result[1]}}</td>
            <td>{{result[2]}}</td>
        </tr>
    {% endfor %}
    <!-- content here!! -->
    <div class="container mt-5">
      {% for result in results %}
      <ul class="list-group">
        <li class="list-group-item">
          <a href="/spieler?player={{result[0]}}" class="text-decoration-none list-item-content">
            <img src="https://crafatar.com/avatars/{{result[1]}}?default=MHF_Steve&overlay" alt="player_head" class="list-item-image" />
            <div class="list-item-text">{{result[0]}}</div>
            <b class="status-text-{{ status | safe }} status-text-right">{{ status | safe }}</b>
          </a><a href="/report?player={{result[1]}}" class="text-decoration-none flag-icon">⚐</a>
        </li>
{% endfor %}

      </ul>
    </div>
    <div class="text"></div>
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="/verschiedenes/impressum.html">Impressum</a></li>
        <li><a href="/verschiedenes/datenschutz.html">Datenschutz</a></li>
        <li><a href="/verschiedenes/kontakt.html">Kontakt</a></li>
        <li><a href="#">🡅</a></li>
      </ul>
    </nav>
  </footer>
</body>

</html>