<!DOCTYPE html>
<html lang="en" id="top">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spieler Übersicht</title>

  <link rel="stylesheet" href="./static/css/header.css" />
  <link rel="stylesheet" href="./static/css/index.css" />
  <link rel="stylesheet" href="./static/css/player-info.css" />

  <link rel="icon" type="image/vnd.microsoft.icon" href="./static/images/favicon.ico" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.min.js"
    integrity="sha256-NGC9JEuTWN4GhTj091wctgjzftr+8WNDmw0H8J5YPYE=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/InventivetalentDev/MineRender@1.4.6/dist/skin.min.js"></script>
</head>

<body>
  <header class="sticky">
    <nav>
      <ul>
        <li>
          <img id="logo" src="./static/images/logo2.png" alt="logo" height="40" />
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn" onclick="window.location.href=`/`">
              Startseite
            </button>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn current">Spieler</button>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">▼ Prefixes</button>
            <div class="dropdown-content">
              <a href="#">Erstellen</a>
              <a href="#">Ändern</a>
              <a href="#">Beitreten</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn" onclick="window.location.href='/report'">
              Spieler Report
            </button>
          </div>
        </li>
        <!-- Code for flask application -->
        <li>{{ loginVar | safe}}</li>

        <li></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <h1><b class="center-v">Spieler: {{user_name}}</b></h1>
    <br />
    <div class="row center-v">
      <div class="column center-v" style="display: block !important">
        <div id="mySkinContainer"></div>
        <div id="downloadButton">
          <button style="width: 400px"
            onclick='forceDownload("https://crafatar.com/skins/{{uuid}}", "Skin-{{user_name}}.png");'>Download</button>
        </div>
      </div>
      <div class="column text">
        <table>
          <tr>
            <td>
              <p>Status:</p>
              <p>Tode:</p>
              <p>Zeit seit letztdem Tod:</p>
              <p>Spielzeit:</p>
              <p>Zuletzt gesehen:</p>
              <p>Beigetreten am:</p>
            </td>
            <td>
              <p id="1">{{status}}</p>
              <p id="2">Loading</p>
              <p id="5">Loading</p>
              <p id="6">Loading</p>
              <p id="4">Loading</p>
              <p id="3">Loading</p>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <div class="center" style="width:1600px!important;">
      <div>
        <button disabled id="blocks" class="tabButton" onclick="doTabAction('blocks')">
          Blöcke
        </button>
        <button id="tools" class="tabButton" onclick="doTabAction('tools')">
          Tools
        </button>
        <button id="mobs" class="tabButton" onclick="doTabAction('mobs')">
          Mobs
        </button>
        <button id="other" class="tabButton" onclick="doTabAction('other')">
          Anderes
        </button>
      </div>
      <br>
      <div style="background-color: black;color:white;width: 1600px;height: 600px;overflow-wrap: break-word;overflow: scroll;">
        <p id="staticsContentDiv">:::::::</p>
      </div>
    </div>
    <br>
    {{info}}
    <p style="color: red;">Das wird noch schöner, versprochen: </p>
    {{ stats }}
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="/verschiedenes/impressum.html">Impressum</a></li>
        <li><a href="/verschiedenes/datenschutz.html">Datenschutz</a></li>
        <li><a href="/verschiedenes/kontakt.html">Kontakt</a></li>
        <li><a href="#">🡅</a></li>
      </ul>
    </nav>
  </footer>
  <script>
    var skinRender = new SkinRender(
      {
        autoResize: true,
        canvas: {
          width: 350,
          height: 350,
        },
      },
      document.getElementById("mySkinContainer")
    );
    skinRender.render("{{user_name}}");

    const eventSource = new EventSource("/api/player_info/{{user_name}}");

    eventSource.onmessage = (event) => {
      console.warn(event.data)
      const parsedArray = JSON.parse(event.data.replaceAll("'", '"'));
      console.log(parsedArray);

      // Iteration über das Array
      i = 0;
      for (const element of parsedArray) {
        if (i == 0) {
          i += 1;
          continue;
        }
        console.log(i + ": " + element);
        document.getElementById("" + i).innerText = element;
        i += 1;
      }
    };
    function forceDownload(url, fileName) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", url, true);
      xhr.responseType = "blob";
      xhr.onload = function () {
        var urlCreator = window.URL || window.webkitURL;
        var imageUrl = urlCreator.createObjectURL(this.response);
        var tag = document.createElement("a");
        tag.href = imageUrl;
        tag.download = fileName;
        document.body.appendChild(tag);
        tag.click();
        document.body.removeChild(tag);
      };
      xhr.send();
    }
    function decodeHtmlEntities(text) {
      const textarea = document.createElement('textarea');
      textarea.innerHTML = text;
      return textarea.value;
    }
    
    var stats = decodeHtmlEntities("{{stats}}").replaceAll("'", '"').replaceAll("(", "").replaceAll(",)", "");
    stats = JSON.parse(stats)

    var stats_tools = decodeHtmlEntities("{{stats_tools}}").replaceAll("'", '"');
    console.log(stats_tools)
    stats_tools = JSON.parse(stats_tools)

    function doTabAction(action) {
      buttons = document.getElementsByClassName("tabButton")
      console.log(buttons)
      for (i = 0; i < buttons.length; i++) {
        console.warn(buttons.item(i))
        buttons.item(i).disabled = false
      }
      clickedButton = document.getElementById(action)
      clickedButton.disabled = true
      if (action == "other") {
        document.getElementById("staticsContentDiv").innerText = stats["minecraft:custom"]
      } else if (action == "blocks") {
        document.getElementById("staticsContentDiv").innerText = stats["minecraft:mined"]
      } else if (action == "tools") {
        htmlString = `
        <table style=border:dotted;>
          <thead>
          <tr>
            <th>Name</th>
            <th>Broken</th>
            <th>Crafted</th>
            <th>Dropped</th>
            <th>Picked up</th>
            <th>Used</th>           
          </tr>
        </thead>
        <tbody>
        `
        for (const itemName in stats_tools) {
          const itemAttributes = stats_tools[itemName];
          htmlString += `
        <tr>
            <td>${itemName}</td>
            `
          for (const itemAttrName in itemAttributes) {
            htmlString += `
            <td>${itemAttributes[itemAttrName]}</td>
          `
          }
          
        }

        htmlString +=`</tr>
        </tbody>
        </table>`

        document.getElementById("staticsContentDiv").innerHTML = htmlString
      } else {
        document.getElementById("staticsContentDiv").innerText = "undefined"
      }

    }

    

  </script>
</body>

</html>