<!DOCTYPE html>
<html lang="en" id="top">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Spieler Übersicht</title>

  <link rel="stylesheet" href="./static/css/header.css" />
  <link rel="stylesheet" href="./static/css/index.css" />
  <link rel="stylesheet" href="./static/css/player-info.css">

  <link rel="icon" type="image/vnd.microsoft.icon" href="./static/images/favicon.ico" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.min.js"
    integrity="sha256-NGC9JEuTWN4GhTj091wctgjzftr+8WNDmw0H8J5YPYE=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/gh/InventivetalentDev/MineRender@1.4.6/dist/skin.min.js">
  </script>
</head>

<body>
  <header class="sticky">
    <nav>
      <ul>
        <li>
          <img id="logo" src="./static/images/logo2.png" alt="logo" height="40" />
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn" onclick="window.location.href=`/`">
              Startseite
            </button>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn current">Spieler</button>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn">▼ Prefixes</button>
            <div class="dropdown-content">
              <a href="#">Erstellen</a>
              <a href="#">Ändern</a>
              <a href="#">Beitreten</a>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown">
            <button class="dropbtn" onclick="window.location.href='/report'">
              Spieler Report
            </button>
          </div>
        </li>
        <!-- Code for flask application -->
        <li>{{ loginVar | safe}}</li>

        <li></li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <h1><b class="center-v">Spieler: {{name}}</b></h1>
    <br>
    <div class="row center-v">
      <div class="column center">
        <div id="mySkinContainer"></div>
      </div>
      <div class="column text">
        <table>
        <tr>
          <td>
            <p>Status:</p>
            <p>Tode:</p>
            <p>Zeit seit letztdem Tod:</p>
            <p>Zuletzt gesehen:</p>
            <p>Beigetreten am:</p>
          </td>
          <td>
            <p>{{status}}</p>
            <p>"LAST SEEN"</p>
            <p>"Tode"</p>
            <p> "time"</p>
            <p>"Datum"</p>
          </td>
        </tr>
      </table>
      </div>
    </div>
  </div>
  <!-- <div class="text"></div> -->
  {{ stats }}
  </div>
  <footer>
    <nav>
      <ul>
        <li><a href="/verschiedenes/impressum.html">Impressum</a></li>
        <li><a href="/verschiedenes/datenschutz.html">Datenschutz</a></li>
        <li><a href="/verschiedenes/kontakt.html">Kontakt</a></li>
        <li><a href="#">🡅</a></li>
      </ul>
    </nav>
  </footer>
  <script>
    var skinRender = new SkinRender(
      {
        autoResize: true,
        canvas: {
          width: 350,
          height: 350,
        },
      },
      document.getElementById("mySkinContainer")
    );
    skinRender.render("{{user_name}}");
  </script>
</body>

</html>