<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/minecraft.css">
</head>
<body>
    
Stone Block
<i class="icon-minecraft icon-minecraft-stone"></i>
<i class="icon-minecraft-sm icon-minecraft-stone"></i>
Grass Block
<i class="icon-minecraft icon-minecraft-grass"></i>
<i class="icon-minecraft-sm icon-minecraft-grass"></i>
Iron Sword
<i class="icon-minecraft icon-minecraft-iron-sword"></i>
<i class="icon-minecraft-sm icon-minecraft-iron-sword"></i>
Diamond Chestplate
<i class="icon-minecraft icon-minecraft-diamond-chestplate"></i>
<i class="icon-minecraft-sm icon-minecraft-diamond-chestplate"></i>
Stone Pickaxe
<i class="icon-minecraft icon-minecraft-stone-pickaxe"></i>
<i class="icon-minecraft-sm icon-minecraft-stone-pickaxe"></i>

</body>
</html>